//Customize Bootstrap
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

$font-family-sans-serif: 'Poppins', sans-serif;


// Import Bootstrap from node_modules
@import "../node_modules/bootstrap/scss/bootstrap";

// All custom code
body {
    background-color: #f6f6f6;
    width: 100vw;
    min-height: 100vh;

}

.green {
    color: #79a206;
}

.li-bar {
    width: 1px;
    background-color: #79a206;
    height: 1rem;
}

.nav-icon {
    font-size: 20px;
    color: #555252;
}

.nav-icon:hover {
    color: #79a206;
}

.menubar {
    font-size: 15px;
}

.navbar {
    font-size: 14px;
}

.nav-item {
    cursor: pointer;
}

.custom-dropdown {
    position: relative;
    color: #555252;
}

.custom-dropdown:hover {
    color: #79a206;
}

.custom-dropdown:hover ul {
    display: block;
}

.custom-dropdown ul {
    display: none;
    position: absolute;
    z-index: 220;
    width: 125px;
    padding: 8px 12px 10px;
    border-radius: 0.15rem;
    margin-top: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
}

//Banner section
.carousel {
    height: 520px;
}

.carousel-item img {
    height: 520px;
}

.carousel-text {
    position: absolute;
    top: 150px;
    left: 85px;
    width: 45%;
}

.carousel-text-1 {
    position: absolute;
    top: 120px;
    left: 85px;
    width: 45%;
}

.carousel-text h1,
.carousel-text-1 h1 {
    font-size: 70px;
}

.carousel-btn {
    border: 2px solid #000;
    border-radius: 0;
    width: 15rem;
    height: 3rem;
    transition: all 0.5s ease 0s;
}

.carousel-btn:hover {
    border: 2px solid #618109;
    border-radius: 0;
    color: #f6f6f6;
    background-color: #79a206;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5rem;
    filter: invert(100%);
}

//support section
.support-bar {
    width: 1px;
    background-color: #79a206;
    height: 3rem;
}
.support-wrap{
    margin-top: 60px;
    margin-bottom: 60px;

    .support-content{
        width: 390px;
        height: 70px;
        display: flex;
        border: 1px solid #fff;
        padding: 5px;

        .support-text{
            font-size: 14px;
            padding-left: 15px;

            .fw-bold{
                font-family: Lora;
            }
            p{
                margin: 0;

            }
        }

        img{
            width: 48px;
            height: 32px;
        }

    }
}

//Banner product
.banner_area {
    margin-top: 50px;
    margin-bottom: 90px;

    .banner_thumb {
        position: relative;
        overflow: hidden;
        border: 4px solid #fff;

        &:hover a img {
            transition: .8s;
            transform: scale(1.2);
        }

        img {
            width: 100%;
            transition: all .1s ease 0s;
            transform: scale(1);
        }

        .banner_content {
            position: absolute;
            top: 4rem;
            left: 2rem;

            h3 {
                font-size: 18px;
                font-weight: 400;
                color: #79a206;
            }

            h2 {
                font-size: 30px;
                font-weight: 400;
            }

            a {
                font-size: 13px;
                line-height: 24px;
                font-weight: 500;
                display: inline-block;
                text-decoration: none;
                color: #000;
                border-bottom: 2px solid #79a206;
                text-transform: uppercase;
                margin-top: 36px;
            }

            a:hover{
                color: #79a206;
            }


        }
    }
}

//Daily Deals CSS
.section-title{
    h2{
        font-family: Lora;
        font-size: 30px;
        font-weight: 600;
        display: inline-block;
        margin: 0;
        line-height: 36px;
        position: relative;

        &:before,
        &:after{
            position: absolute;
            top: 17px;
            width: 80px;
            height: 2px;
            content: "";
            background-color: #79a206;
        }

        &:before{
            left: -100px;
        }

        &:after{
            right: -100px;
        }
    }
}

//Daily deals product tab list
.product-tab-list{
    padding-top: 30px;
    padding-bottom: 60px;

    .nav-link{
        background-color: transparent !important;
        margin: 0;
        display: block;
        padding: 8px 16px;
    }

    a h4{
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        transition: all 0.3s ease 0s;
        color: #555252;
        line-height: 24px;
    }

    a.active h4, a h4:hover{
        color: #79a206;
        border-bottom: 2px solid #79a206;
    }
}

//service section
.service-content{
    margin-bottom: 60px;
    margin-top: 60px;

    .service-text{
        position: absolute;
        margin-top: 100px;
        left: 100px;
        line-height: 100px;

        h1{
            font-family: Lora;
            color: #79a206;
            font-size: 60px;
        }

        .service-btn{
            background-color: #000;
            border-radius: 2rem;
            color: #f6f6f6;
            width: 10rem;
            height: 3rem;
            transition: all 0.5s ease 0s;

            &:hover{
                background-color: #79a206;
                border: 2px solid #618109;
            }
        }
    }

    
}


